@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/j8_w6_fAw7jrcalD7oKYNX0QfAnPW7Dl5A.ttf) format('truetype');
}
@font-face {
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/j8_36_fAw7jrcalD7oKYNX0QfAnPUwvA9JfGgQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/2sDQZG5JnZLfkcWdqW0.ttf) format('truetype');
}
@font-face {
  font-family: 'Pridi';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/2sDdZG5JnZLfkc0mjH0kT0U.ttf) format('truetype');
}

/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */